* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: auto;
	color: 454545;
}

nav {
	background: #efefef;
	overflow: hidden;
	position; absolute;
	width: 100%;
	box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
	-webkit-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
}

.logo-section {
	float: left;
	padding: 30px;
	font-family: Encode Sans Condensed;
}

.hb-button {
	float: right;
	background: #222;
	color: #ffffff;
	border: none;
	font-size: 19px;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
	display: none;
}

nav a {
	text-decoration: none;
	font-size: 18px;
	font-family: Encode Sans Condensed;
	color: #282828;
	padding: 5px;
}

nav ul {
	overflow: hidden;
	color: #FFF;
	margin: 0;
	padding: 10px;
	text-align: center;
	transition: max-height: 0.5s;
	-webkit-transition: max-height: 0.5s;
	-moz-transition: max-height 0.5s ;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
}

nav ul li {
	float: right;
	display: inline-block;
	padding: 20px;
}

li > a {
	position: relative;
	color: #000;
	text-decoration: none;
}

li > a:hover {
	color: #000;
}

li > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}


body {
	font-family: Encode Sans Condensed;
	height: auto;
	overflow: hidden;
}

.img-wrapper {
	margin: 100%;
}

img {
	margin-top: 64px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.logo-section {
		float: none;
	}
	nav ul {
		background: #efefef;
		max-height: 0;
		width: 100%;
	}
	nav ul.show {
		max-height: 20em;
	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
	}
	.hb-button {
		display: inline;
	}
}